
.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  .button-container4 {
    position: absolute;
    top: 200px;
    left: calc(50% - 92px - 10px); /* Centering buttons */
    display: flex;
    gap: 20px;
  }
  
  .button4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 40px;
    background: #65558F;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -180px;
    
  }
  .button4
  {
    transform: translateY(130px);
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  
  .button4:hover {
    background: #4e4170;
  }
  